*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav {}
nav ul li{
    float: left;
    border-right: 1px solid #000;
    position: relative;
    width:150px;
    text-align: center;

}
nav ul li > ul{
 display:none;
 position: absolute;
 width: 150px;
}
nav ul li:hover > ul{
    display: block;
}
nav ul li > ul li{
    display: block;
    border-bottom: 1px solid #fff;
}
nav ul > ul li:last-child{
    border: none;
}
nav ul li > ul li a{
    display: block;
    padding: 10px 20px;
    color: #eee;
    background: teal;
}
nav ul li a{
    display: block;
    background: skyblue;
    padding: 10px;
    color:#fff;
    text-transform: uppercase;
    transition: all 0.9s;
}
nav ul li a:hover{
    background: cornflowerblue;
    color:#000;

}

nav ul li> ul li >ul{
    margin-left: 150px;
    display: none;
    margin-top: -40px;
}
nav ul li> ul li:focus >ul{
    display: block;
}